@using AquaMarket.Models
@model AquaMarket.Models.Plant

@{
    ViewBag.Title = "Details";
}

<div id="details" class="partial_Lable partial_content">

    <h2>Details</h2>
    <hr />
    
        <div class="row container-fluid">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <!--taxonomy-->

                    <dt>
                        @Html.DisplayNameFor(model => model.PlantName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PlantName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PlantSpecies.PlantFamily.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PlantSpecies.PlantFamily.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PlantSpecies.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PlantSpecies.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OriginCountry)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OriginCountry)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PlantType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PlantType)
                    </dd>

                    <!--characteristics-->
                    <dt>
                        @Html.DisplayNameFor(model => model.Hight)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Hight)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GrowthSpeed)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GrowthSpeed)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Coloration)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Coloration)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Сomplexity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Сomplexity)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Location)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Location)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Area)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Area)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Usage)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Usage)
                    </dd>

                    <!--environment-->

                    <dt>
                        @Html.DisplayNameFor(model => model.Light)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Light)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.MinTemp)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MinTemp)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MaxTemp)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaxTemp)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MinPh)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MinPh)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MaxPh)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaxPh)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MinGh)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MinGh)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MaxGh)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaxGh)
                    </dd>

                </dl>

            </div>
            <div class="col-md-8 description">
                @if (Model.File != null)
                {
                    <img src="@Url.Content("~/Files/" + Model.File.FileName)" width="300" alt="Plant image">
                }
                <p>
                    @Model.Description
                </p>
            </div>
        </div>
    <div>
       
        <!--Created with jquery confirmation for demonstration Ajax.ActionLink alternative-->
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger", id = "delete_plant_btn"}) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Catalogue", "Index", new { pageIndex = int.Parse(System.Web.HttpContext.Current.Request.Cookies["PageIndex"].Value) }, new { @class = "btn btn-info"})
    </div>
</div>