@model IEnumerable<AquaMarket.Models.Plant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Light)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrowthSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ph)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Files
        </th>
        <th>
            Purchases count
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Light)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrowthSpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ph)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @foreach (var file in item.Files)
            {
                <a href="@Url.Content("~/Files/" + file.FileName)">
                <img src="@Url.Content("~/Files/" + file.FileName)" width="80" height="100" alt="Plant image"></a><br />
            }
        </td>
        <td>
            1
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
