@using PagedList.Mvc;
@using PagedList;

@model AquaMarket.Models.PlantViewModel

@{
    ViewBag.Title = "Index";
}


<div  class="partial_Lable catalogue">
    <div class="container-fluid catalogue_header">

        <h2>Plant catalogue from A to Z</h2>
        <hr />

        @{

            int.TryParse(Request.Cookies["ItemCount"].Value, out int selected);
            ViewBag.ItemCounts = new SelectList(new List<int> { 3, 5, 10 }, selected);
        }

        <div class="row pagesizer_sections">
            <div class="col-md-4 page_count">
                @using (Html.BeginForm("Index", "Plant", FormMethod.Get, new { @class = "pageSize_form" }))
                {
                    <div>
                        <p>Item count on page: </p>@Html.DropDownList("pageSize", ViewBag.ItemCounts as SelectList, new { @class = "pageSize_dropdown" }) <input type="submit" value="Submit" />
                    </div>
                }
            </div>

            <div class="col-md-4 list_pager">
                
                @Html.PagedListPager((IPagedList)Model.Plants, page => Url.Action("Index", new { pageIndex = page }))
            </div>

            <div class="col-md-4 create_section">
                <!--A button created by html-->
                <div id="create_new">
                    <a href="/Plant/Create" class="btn btn-info" role="button">Add plant</a>
                </div>
            </div>
        </div>
    </div>


    @foreach (var item in Model.Plants)
    {
        <div class="row plantItem container-fluid">
            <div class="col-md-4 container">
                <div>
                    <h4>@item.PlantName</h4>
                </div>
                @if (item.File != null)
                {
                    <div>
                        <a href="@Url.Content("~/Files/" + item.File.FileName)">
                            <img src="@Url.Content("~/Files/" + item.File.FileName)" alt="Plant image">
                        </a>
                    </div>
                }
                <div>
                    <!--A button created by html helper-->
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info", role = "button" })
                </div>
            </div>

            <div class="col-md-8">
                <div class="characteristics_table">
                    <table class="table">
                        <tr>
                            <th>
                                <span>Location</span>
                            </th>
                            <th>
                                <span>Color</span>
                            </th>
                            <th>
                                <span>Light</span>
                            </th>
                            <th>
                                <span>Temp. (C*)</span>
                            </th>
                            <th>
                                <span>pH*</span>
                            </th>
                            <th>
                                <span>gH*</span>
                            </th>
                        </tr>

                        <tr>
                            <td>
                                <span>@item.Location</span>
                            </td>
                            <td>
                                <span>@item.Coloration</span>
                            </td>
                            <td>
                                <span>@item.Light</span>
                            </td>

                            <td>
                                <span>@item.MinTemp - @item.MaxTemp</span>
                            </td>
                            <td>
                                <span>@item.MinPh - @item.MaxPh</span>
                            </td>
                            <td>
                                <span>@item.MinGh - @item.MaxGh</span>
                            </td>

                        </tr>
                    </table>
                </div>
                <div >
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </div>

            
        </div>
    }
</div>