@model IEnumerable<AquaMarket.Models.Plant>

@{
    ViewBag.Title = "Index";
}

<div id="Catalogue" class="partial_Lable">

    <h2>Plant catalogue from Z to Z</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @foreach (var item in Model)
    {
        <div class="plantItem row">
            <div class="col-md-4">
                <div>
                    <h3>@item.PlantName</h3>
                </div>
                <div>
                    <a href="@Url.Content("~/Files/" + item.File.FileName)">
                        <img src="@Url.Content("~/Files/" + item.File.FileName)" height="200" alt="Plant image">
                    </a>
                </div>
            </div>

            <div class="col-md-8">
                <div class="characteristics_table">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Location)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Coloration)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Light)
                            </th>
                            <th>
                                <p>Temp. (C*)</p>
                            </th>
                            <th>
                                <p>pH range</p>
                            </th>
                            <th>
                                <p>gH range</p>
                            </th>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Coloration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Light)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.MinTemp) -
                                @Html.DisplayFor(modelItem => item.MaxTemp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MinPh) - 
                                @Html.DisplayFor(modelItem => item.MaxPh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MinGh) -
                                @Html.DisplayFor(modelItem => item.MaxGh)
                            </td>
                            
                        </tr>
                    </table>
                </div>
                <div class="plant_description">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </div>
            
            

            <div>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>


        </div>
    }
</div>