@using AquaMarket.Models
@model AquaMarket.Models.Article

@{
    ViewBag.Title = "Details";
}

<div id="article_details" class="partial_Lable partial_content">

    <h2>@Model.Title</h2>
    <hr />

    <div class="row " style="display:flex">
        <div class="col-md-4">
            @if (Model.File != null)
            {
                <img src="@Url.Content("~/Files/" + Model.File.FileName)" width="300" alt="Plant image">
            }
        </div>
        <div class="col-md-8">
            <div>
                @Html.DisplayFor(Model => Model.Content)
            </div>
        </div>
    </div>
    <div class="details_buttons">
        <!--Created with jquery confirmation for demonstration Ajax.ActionLink alternative-->
        @{ 
            int.TryParse(System.Web.HttpContext.Current.Request.Cookies["ArticlePageIndex"].Value, out int index);
        }
        @Html.ActionLink("Delete", "DeleteConfirmed", new { id = Model.Id }, new { @class = "btn btn-danger", id = "delete_plant_btn" }) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Catalogue", "Index", new { pageInd = index }, new { @class = "btn btn-info" })
    </div>
</div>